h1, h2, h3 {
  margin:0;
  font-weight: normal;
} 

a:active, 
a {
  text-decoration: none;
  color: #2f80ed; 
}

/* page */

.page {
  min-width: 1100px;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* header */

.header {
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  position: relative;
}

.header__title {
  display: flex;
  width: 730px;
  height: 100%;
  font-size: 102px;
  position: absolute;
  margin-left: 64px;
  line-height: 96px;
  font-weight: 700;
  align-items: center;
  z-index: 6;
}

.header__subtitle {
  width: 388px;
  z-index: 6;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  background: url(/images/header-image.png) no-repeat;
  background-size: cover;
  z-index: 5;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 4;
  width: 568px;
  height: 568px;
  background: #2f80ed;
}

/* logo */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* desc */

.description {
  margin: 100px auto;
}

.two-columns {
  display: flex;
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
  min-width: 784px;
}

.two-columns__brief {
  width: 20%;
  height: 100%;
}


.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  color: #2f80ed;
  width: 175px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__span-accent { 
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

/* digits */

.digits {
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.section-suptitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

/* table */

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
}

.table__row {
  display: flex;
  margin-bottom: 60px;
}

.table__row:last-child {
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
}

.table__text-bottom {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

/* feynman */

.feynman {
  background: #f2f2f2 url(/images/feynman.png) no-repeat bottom left;
  height: 890px;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  width: 648px;
}

.feynman__suptitle {
  line-height: 51px;
  font-size: 36px;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 53px;
  font-size: 36px;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding: 90px 0;
}

.section-title_theme_dark {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.section-suptitle_theme_dark {
  text-align: center;
  line-height: 34px;
  margin-bottom: 80px;
  font-size: 24px;
}

.table__row_theme_dark {
  display: flex;
  margin-bottom: 80px;
}

.table_theme_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
  z-index: 5;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  z-index: 5;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
}

.kaufman__triangle {
  position: absolute;
  background: url(/images/kaufman-triangle.svg);
  background-size: cover;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  z-index: 1;
}

/* footer */

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  color: #fff;
  margin: 0 auto;
}

.footer__columns {  
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
 
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  list-style: none;
  padding: 0;
}

.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  padding: 18px 0;
}

.footer__social-icon {
  margin-right: 10px;
}
